data/surnames/surnames.csv filter=lfs diff=lfs merge=lfs -text
data/surnames/forenames.csv filter=lfs diff=lfs merge=lfs -text
data/raw/personachat/personachat.tgz filter=lfs diff=lfs merge=lfs -text
